
/02-Workshop/*
/03-Campaigns/*
/04-Compendium/*
/.obsidian/*


!/02-Workshop/README.md 
!/03-Campaigns/README.md 
!/04-Compendium/README.md 
!.obsidian/snippets!
.obsidian/plugins/various-complements/histories.json
.obsidian/workspace.json